<footer>
    <div class="container">
        <div class="copyright">
            <img src="/assets/images/mywhitelogo.png" class="footerlogo" alt="Angular Project" />
            <div class="Allrights">contact us:- shivharepriya@gamil.com</div>
            <div class="Allrights">All rights reserved © 2022</div>
            <i class="fa-brands fa-twitter fa-fw text-danger"></i>
            <i class="fa-brands fa-facebook-f fa-fw text-danger"></i>
            <i class="fa-brands fa-instagram fa-fw text-danger"></i>
            <i class="fa-brands fa-reddit-alien fa-fw text-danger"></i>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>